<a href="https://colab.research.google.com/github/Kprakash78/SVM-model/blob/main/SVM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
import numpy as np

In [ ]:
import numpy as np

class SVM:
  def __init__(self,learning_rate,C,iters):
    self.learning_rate=learning_rate
    self.C=C
    self.iters=iters
    self.w=None
    self.b=None


  def bias(self,x):
     #adding bias
    one = np.ones((len(x),1))
    x = np.hstack((one,x))
    return x

  def gradient(self,x,y):
    #adding weights , changing labels, and gradient descent
    y=np.where(y<=0,-1,1)
    x = self.bias(x)
    self.w = np.zeros(x.shape[1])
    self.b=0
    #gradient descent (Stochastic Gradient Descent)
    for iters in range(self.iters):
      for i in range(len(y)):
        condition=y[i] * (np.dot(x[i], self.w)-self.b)
        if(condition>=1):
          dw=2*self.C*self.w
          db=0
        else:
          dw=2*self.C*self.w-np.dot(x[i],y[i])
          db=y[i]
        self.w=self.w-self.learning_rate*dw # Moved inside the inner loop
        self.b=self.b-self.learning_rate*db # Moved inside the inner loop

  def predict(self, x):
      x_bias = self.bias(x) # Add bias to the input for prediction
      output = np.dot(x_bias, self.w)-self.b
      predicted = np.sign(output)
      y_pred = np.where(predicted==-1,0,1)
      return y_pred

  def accuracy(self, X, y):
    preds = self.predict(X)
    return np.mean(preds == y)

In [ ]:
df = pd.read_csv('/content/sample_data/healthcare-dataset-stroke-data.csv')

In [ ]:
df.columns

Index(['id', 'gender', 'age', 'hypertension', 'heart_disease', 'ever_married',
       'work_type', 'Residence_type', 'avg_glucose_level', 'bmi',
       'smoking_status', 'stroke'],
      dtype='object')

In [ ]:
df[[
        # 'id',
        # 'gender',
        'age',
        # 'hypertension',
        'heart_disease',
        # 'ever_married',
        # 'work_type',
        # 'Residence_type',
        'avg_glucose_level',
        # 'bmi',
        # 'smoking_status',
        'stroke'
       ]].corr()['stroke']

age                  0.245257
heart_disease        0.134914
avg_glucose_level    0.131945
stroke               1.000000
Name: stroke, dtype: float64

In [ ]:
df=df[[
        # 'id',
        # 'gender',
        'age',
        # 'hypertension',
        'heart_disease',
        # 'ever_married',
        # 'work_type',
        # 'Residence_type',
        'avg_glucose_level',
        # 'bmi',
        # 'smoking_status',
        'stroke'
       ]]

In [ ]:
df = df.dropna(subset=['age', 'heart_disease', 'avg_glucose_level']).reset_index(drop=True)

In [ ]:
df.shape

(5110, 4)

In [ ]:
df['stroke'].value_counts()

stroke
0    4861
1     249
Name: count, dtype: int64

In [ ]:
# 0 represents non diabetic and 1 represents diabetic

In [ ]:
from sklearn.model_selection import train_test_split

x = df[['age', 'heart_disease', 'avg_glucose_level']].values
y = df['stroke'].values

# Original splitting method (commented out as requested):
# ratio=0.8
# split = int(ratio * len(x))
# x_train, x_test = x[:split], x[split:]
# y_train, y_test = y[:split], y[split:]

# Using sklearn's train_test_split with stratification
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42, stratify=y)

In [ ]:
classifier = SVM(learning_rate=0.001,C=0.01,iters=1000)
classifier.gradient(x_train,y_train)

In [ ]:
pred = classifier.predict(x_test)
acc = classifier.accuracy(x_test, y_test)
print(acc)

0.9510763209393346